{% extends "beauty/layout.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
  <section id="hero" >
    <img src="{% static 'images/header.jpg' %}" style="height:80vh; width: 100%; background-size: cover; background-position: top 25% right 0; padding: 10px 80px 0; display: flex;"/>
    
  </section>
   

  <section id="categories" class="section-p1" style="display: flex; align-items:center; justify-content:space-between; flex-wrap: wrap;">
    <div class="ca-box" style="width: 180px; text-align:center; padding: 25px 15px; cursor: pointer; box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03) ; border: 1px solid #cce7d0; border-radius: 4px; margin: 15px 0; ">
        <img src="{% static 'images/lotion.jpg'%}" style="height: 120px; width:100%; border-radius: 4px; margin-bottom: 10px; "/>
        <h6 style=" display:inline-block; padding: 9px 8px 6px 8px; line-height:1; border-radius:4px ; background-color: #fddde4; ">Lotions</h6>


    </div>
    <div class="ca-box" style="width: 180px; text-align:center; padding: 25px 15px; cursor: pointer; box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03) ; border: 1px solid #cce7d0; border-radius: 4px; margin: 15px 0; ">
        <img src="{% static 'images/shadow.jpg'%}" style="height: 120px; width:100%; border-radius: 4px; margin-bottom: 10px; "/>
        <h6 style=" display:inline-block; padding: 9px 8px 6px 8px; line-height:1; border-radius:4px ; background-color: #fddde4; ">shadow</h6>


    </div>
    <div class="ca-box" style="width: 180px; text-align:center; padding: 25px 15px; cursor: pointer; box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03) ; border: 1px solid #cce7d0; border-radius: 4px; margin: 15px 0; ">
        <img src="{% static 'images/serume.jpg'%}" style="height: 120px; width:100%; border-radius: 4px; margin-bottom: 10px; "/>
        <h6 style=" display:inline-block; padding: 9px 8px 6px 8px; line-height:1; border-radius:4px ; background-color: #fddde4; ">Serume</h6>


    </div>
    <div class="ca-box" style="width: 180px; text-align:center; padding: 25px 15px; cursor: pointer; box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03) ; border: 1px solid #cce7d0; border-radius: 4px; margin: 15px 0; ">
        <img src="{% static 'images/mascara.jpg'%}" style="height: 120px; width:100%; border-radius: 4px; margin-bottom: 10px; "/>
        <h6 style=" display:inline-block; padding: 9px 8px 6px 8px; line-height:1; border-radius:4px ; background-color: #fddde4; ">Mascara</h6>


    </div>
    <div class="ca-box" style="width: 180px; text-align:center; padding: 25px 15px; cursor: pointer; box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03) ; border: 1px solid #cce7d0; border-radius: 4px; margin: 15px 0; ">
        <img src="{% static 'images/liostick.jpg'%}" style="height: 120px; width:100%; border-radius: 4px; margin-bottom: 10px; "/>
        <h6 style=" display:inline-block; padding: 9px 8px 6px 8px; line-height:1; border-radius:4px ; background-color: #fddde4; ">Lipstock</h6>


    </div>
    <div class="ca-box" style="width: 180px; text-align:center; padding: 28px 15px; cursor: pointer; box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03) ; border: 1px solid #cce7d0; border-radius: 4px; margin: 15px 0; ">
        <img src="{% static 'images/seeall.jpg'%}" style="height: 120px; width:100%; border-radius: 4px; margin-bottom: 10px; "/>
        <button style=" display:inline-block; padding: 6px 8px 5px 8px; line-height:1; border-radius:4px ; background-color: #fddde4;border: none; font-size: 15px; ">See all >></button>


    </div>

    <div class="cart">
        <h2 class="cart-title">Your Cart  </h2>
        <div class="cart-content">
            <div class="cart-box">
                <image src="{% static 'images/maceyebro.png'%}" alt="" class="cart-img"  />
                <div class="cart-details">
                    <div class="cart-product-details">EYE BROWS STYLER</div>
                    <div class="cart-price">$25</div>
                    <input type="number" value="1" calss="cart-quantity">
                </div>
            </div>
            <!--remove item-->
            <i class='bx bxs-trash cart-remove'></i>
        </div>
        <!--total price-->
        <div class="total">
            <div class="total-title">Total</div>
            <div class="total-price">$0</div>

        </div>

        <!--button for buy-->
        <button type="button" class="btn-buy">Buy Now</button>
        <!--cart close-->
        <i class='bx bx-x' id="close-cart"></i>


    </div>
        


  </section>
  <section id="product1" class="section-p1" style="text-align:center ;">
    <h2><a class="nav-link" href="{% url 'create' %}">Featured Products</a></h2>
    <p>
        Special product and new collection
    </p>

  <section class="shop container">
    <div class="shop-content">
    <!--box1-->
        <div class="Product-box" >
            <image src="{% static 'images/maceyebro.png'%}" alt="" class="product-img"  />
            <h4 class="product-title" >EYE BROWS STYLER </h4>
            <span class="price">$20</span>
            <i class='bx bx-shopping-bag add-cart' ></i>

        </div>
         <!--box2-->
        <div class="Product-box" >
         <image src="{% static 'images/macpro.png'%}" alt="" class="product-img"  />
            <h4 class="product-title" >PRO LONGWEAR PAINT POT  </h4>
            <span class="price">$25</span>
            <i class='bx bx-shopping-bag add-cart' ></i>

        </div>
        <!--box3-->
        <div class="Product-box" >
            <image src="{% static 'images/mac.png'%}" alt="" class="product-img"  />
            <h4 class="product-title" >POWDER KISS LIPSTICK</h4>
            <span class="price">$24</span>
            <i class='bx bx-shopping-bag add-cart' ></i>

        </div>
        <!--box4-->
        <div class="Product-box" >
            <image src="{% static 'images/maclip.png'%}" alt="" class="product-img"  />
            <h4 class="product-title" >LOVE ME LIQUID LIPCOLOUR</h4>
            <span class="price">$26</span>
            <i class='bx bx-shopping-bag add-cart' ></i>

        </div>
        <!--box5-->
        <div class="Product-box" >
            <image src="{% static 'images/macfond.png'%}" alt="" class="product-img"  />
            <h4 class="product-title" >STUDIO SCULPT SPF 15 FOUNDATION</h4>
            <span class="price">$31</span>
            <i class='bx bx-shopping-bag add-cart' ></i>

        </div>
        <!--box6-->
        <div class="Product-box" >
            <image src="{% static 'images/macmis.png'%}" alt="" class="product-img"  />
            <h4 class="product-title" >M·A·CSTACK MASCARA</h4>
            <span class="price">$28</span>
            <i class='bx bx-shopping-bag add-cart' ></i>

        </div>
        <!--box7-->
        <div class="Product-box" >
            <image src="{% static 'images/mac2x.png'%}" alt="" class="product-img"  />
            <h4 class="product-title" >@XIMEPONCH</h4>
            <span class="price">$23</span>
            <i class='bx bx-shopping-bag add-cart' ></i>

        </div>
        <!--box8-->
        <div class="Product-box" >
            <image src="{% static 'images/mac_sku_MT7E14_1x1_0.png'%}" alt="" class="product-img"  />
            <h4 class="product-title" >MINERALIZE</h4>
            <span class="price">$40</span>
            <i class='bx bx-shopping-bag add-cart' ></i>

        </div>
    </div> 






  </section>


  
   
   
    <section id="sm-banner" class="section-p1">
  
        <div class="banner-box" style=" display:flex; justify-content:space-between;  flex-wrap:wrap;">
            <img src="{% static 'images/ban1.jpg'%}" style="width:50%">
            <img src="{% static 'images/ban2.jpg'%}" style="width:50%">
        </div>
    </section>

    <section id="footer" style="background-color: rgb(18 , 17 ,39 ) ;">
        <div class="footericon">
            <ul id="ficon" >
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping "></i></a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </section>
    <script src="{% static 'js/main.js'%}"></script>

{% endblock %}
   
