{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}cosmetic{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,100;0,400;1,300&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



    </head>
    <body>
   


            <section id="header">
                <a ><i class="fas fa-crow fa-1x me-1 pt " style="color: palevioletred;"></i>
                    <span class="h5 fw-bold mb-0">Beauty </span></a>
                    <div id="navbar" >
                        <ul id="nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'create' %}">insert</a></li>
                            {%endif%}
                            <li><a href="{% url 'categories' %}">Categories</a></li>
                            
                            <a href="#" id="close"><i class="fa-solid fa-xmark"></i> </a>
                            
                        </ul>
                        <ul id="icon"><li><a href="{% url 'search' %}"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                            <li><a href="#"><i class="fa-regular fa-heart" id="love-icon"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-cart-shopping" id="cart-icon"></i></a></li>
                            <li><a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a></li>
                        </ul>
                    </div>
                    <div id="mobile" >
                        <i id="bar" class="fas fa-outdent"></i>
                        <i ></i>
                    </div>
                  <!--  <img src="{% static 'images/lotion.jpg'%}"> -->
            </section>
            {% block content %}
 


{% endblock content %}

            

    </body>
    
    </html>